body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.primary-color{
  background-color: #581B98 !important;
  color: white !important;
}

.btn-primary{
  background-color: #581B98 !important;
  color: white !important;
}

.btn-secondary{
  background-color: #FAEE1C !important;
  color: black !important;
}

.img-fluid{
  width: 100%;
  height: 300px;
}

.hero-img{
  background-image: url(./images/hero.svg);
  width: 100%;
  height: 90vh;
  padding: 7rem 1rem;
}

.logo{
  width: 9rem;
}